@{
    ViewBag.Title = "Moby Dickens Homepage";
}

<div class="jumbotron">
    <h1>Welcome to the <br />Moby Dickens Bookstore 2.0!</h1>
    <p class="lead"> Serving our community with classic literature since 1908!</p>
    <p><a href="~/Books/" class="btn btn-primary btn-lg">View Our Books &raquo;</a></p>
</div>
